* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
	overflow-x: hidden;
}

/*/ Navbar - Section /*/

nav {
    width: 100vw;
    height: 6.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
}

.nav-logo {
    font-size: 3rem;
    color: #10375c;
}

li {
    display: inline;
    list-style: none;
}

.link {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin-inline: 1rem;
    font-weight: 500;
}

.log-in-btn {
    color: #ff5722;
	border: none;
}

.sign-up-btn {
    padding: 0.6rem 1rem;
    color: white;
    background-color: #ff5722;
    box-shadow: 0px 2px 5px rgba(255, 166, 0, 0.336);
}

.nav-hamburger {
    display: none;
    cursor: pointer;
}

.mobile-menu {
	width: 100vw;
	height: 17.25rem;
	background-color: whitesmoke;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.active-menu {
	display: block;
}

.hamburger-links > li {
	display: block;
	margin: 1.5rem 1rem;
	text-align: center;
}

/*/ Header - Section /*/

header {
    width: auto;
    height: auto;
    padding: 1rem 0rem 5rem 0rem;
}

.header-intro {
    margin: 1rem 0rem 0rem 7rem;
}

.header-texts {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 1rem 7rem 2rem 7rem;
    flex-wrap: wrap;
}

.header-title {
    color: #10375c;
    font-size: max(2rem, 3rem);
}

.color-text {
    color: #ff5722;
}

.header-desc {
    margin-top: 0.5rem;
    font-size: max(1rem, 1.3rem);
    font-family: sans-serif;
}

.header-content {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.header-img {
    z-index: -1;
    position: absolute;
    right: 0rem;
    top: 0px;
}

.header-form {
    width: 25rem;
    height: 28rem;
    background-color: #10375c;
    margin: 3rem 0rem 0rem 3rem;
    z-index: 1;
    position: relative;
    right: 22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-title {
    font-size: 2rem;
    text-align: center;
    color: white;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.header-form-input {
    margin: 1rem 0rem 1.8rem 0rem;
    padding: 0rem 0.5rem;
    border: none;
    width: 20rem;
    height: 3rem;
    background-color: #0d2c4a;
    color: white;
}

.input-title {
    color: rgb(212, 212, 212);
    position: absolute;
}

.title-1 {
    left: 3.2rem;
    top: 4.5rem;
}

.title-2 {
    left: 3.2rem;
    top: 10.2rem;
}

.title-3 {
    left: 3.2rem;
    top: 16.1rem;
}

.header-form-btn {
    padding: 1rem 6.7rem;
    margin: 1rem 0rem 0rem 0rem;
    color: white;
    background-color: #ff5722;
    border: none;
    cursor: pointer;
}

/*/ Spaces - Section /*/

.space-section {
    width: 100vw;
    height: auto;
}

.section-texts {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-title {
    font-size: 3rem;
    color: #10375c;
    margin-right: 2rem;
}

.prev-slide {
    margin-right: 1rem;
    cursor: pointer;
}

.next-slide {
    cursor: pointer;
}

.slider-container {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

.image-container1 {
    width: 21.875rem;
    height: 26.1875rem;
    background-image: url(../images/space-img-1.png);
    position: relative;
    margin: 1rem;
}

.image-container2 {
    width: 21.875rem;
    height: 26.1875rem;
    position: relative;
    background-color: #10375c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.space-card-title {
    margin: 0rem 2rem;
    color: white;
}

.space-card-desc {
    margin: 1rem 2rem;
    color: white;
    text-align: center;
}

.image-container3 {
    width: 21.875rem;
    height: 26.1875rem;
    background-image: url(../images/space-img-3.png);
    position: relative;
    margin: 1rem;
}

.more-icon {
    width: 3.125rem;
    height: 3.125rem;
    background-color: #ff5722;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
}


/*/ Promo - Section /*/

.benefits-section {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.icon-container {
    width: 33.75rem;
    height: 26.3125rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 1rem;
}

.icons {
    width: 16.25rem;
    height: 6.25rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0.5rem;
}

.icon-img {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.icon-title {
    position: absolute;
    top: 1rem;
    left: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
}

.icon-desc {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.benefits-text-content {
    width: 33.75rem;
    height: 26.3125rem;
    background-color: #10375c;
}

.benefits-text-intro {
    color: white;
    margin: 2rem;
}

.benefits-text-title {
    color: white;
    font-size: 3rem;
    margin: 2rem;
}

.benefits-bottom-text {
    color: white;
    margin: 2rem;
    font-size: 1.5rem;
}


/*/ Facilities - Section /*/

.facilities-section {
    width: 100vw;
    height: auto;
    background-color: whitesmoke;
    position: relative;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.facilities-heading {
    width: 100%;
    height: auto;
    margin-left: 7rem;
}

.fac-text-intro {
    font-size: 1rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.fac-title {
    color: #10375c;
    font-size: 3rem;
}

.content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.fac-spaces {
    width: 15.625rem;
    height: auto;
    background-color: whitesmoke;
    margin-left: 0rem;
    margin-top: 3rem;
}

.fac-place-list {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid rgba(211, 211, 211, 0.151);
}

.fac-image-container {
    width: 45.5625rem;
    height: 28.3125rem;
    margin: 1rem;
}

.fac-place {
    width: auto;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

.active-place {
    background-color: #ff5722;
    color: white;
}

.fac-place:hover {
    background-color: #ff5722;
    color: white;
}

.fac-image1 {
    display: none;
}

.fac-image2 {
    display: none;
}

.fac-image3 {
    display: none;
}

.fac-image4 {
    display: none;
}

.fac-image5 {
    display: none;
}

/*/ Gallery - Section /*/

.gallery {
    width: 100vw;
    height: auto;
    background-color: whitesmoke;
    padding-bottom: 5rem;
    position: relative;
}

.gallery-heading {
    width: 30rem;
    position: absolute;
    right: 20rem;
    top: 0rem;
}

.gallery-intro {
    padding-top: 2rem;
}

.gallery-title {
    font-size: 3rem;
    color: #10375c;
}

.gallery-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-img-1 {
    animation: slideFromLeft 1s ease-in;
    position: relative;
}

.gallery-img-2 {
    margin-top: 16rem;
    position: relative;
    animation: slideFromRight 2s ease-in;
}

.gallery-img-3 {
    margin-top: 16rem;
    position: relative;
    animation: slideFromRight 2s ease-in;
}

/* THE ANIMATION WILL BE ADDED TO DOM WHEN INTERSECTION OBSERVER HITS SECTION */

@keyframes slideFromLeft {
    0% {
        right: 500px;
    }

    100% {
        right: 0px;
    }
}

@keyframes slideFromRight {
    0% {
        left: 1000px;
    }

    100% {
        left: 0px;
    }
}

/*/ Promo - Section /*/

.promo-section {
    width: 100vw;
    height: auto;
}

.promo-text-content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.promo-title {
    font-size: max(1rem, 3rem);
    margin: 1rem 0rem;
    color: #10375c;
}

.promo-brand-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}


/*/ Review - Section /*/

.reviews-section {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.review-text-content {
    width: 100%;
    height: auto;
}

.review-intro {
    margin-left: 7rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.review-title {
    font-size: 3rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
    color: #10375c;
}

.review-cards-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.review-card {
    width: 350px;
    height: 350px;
    background-color: #10375c;
    margin: 1rem;
    position: relative;
}

.review {
    color: white;
    margin: 2rem;
}

.reviewer-content {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 1rem;
}

.reviewer-profile {
    position: absolute;
    left: 2rem;
    top: 0.5rem;
}

.reviewer-name {
    position: absolute;
    top: 1rem;
    left: 7rem;
    color: white;
}

.reviewer-occupation {
    position: absolute;
    top: 2.4rem;
    left: 7rem;
    color: white;
}


/*/ Help - Section /*/

.help-section {
    width: 100%;
    height: auto;
    background-color: white;
}

.help-title {
    width: 100%;
    height: auto;
    font-size: 3rem;
    text-align: center;
    color: #10375c;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.questions-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.question-card {
    width: 20rem;
    height: 12rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px lightgray, -2px 2px 5px rgba(250, 250, 250, 0.918);
    position: relative;
    margin: 1.5rem;
}

.question-card:nth-child(2) {
    background-color: #ff5722;
    color: white;
}

.question {
    font-size: 1.5rem;
    margin: 3rem;
    text-align: center;
}

.more-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: #ff5722;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 3rem 0rem;
}

.more-questions > svg {
    transform: rotate(-90deg);
}

.awnser-icon {
    padding: 0.5rem 1rem;
    background-color: #ff5722;
    position: absolute;
    bottom: -2rem;
    cursor: pointer;
}

.awnser-icon:hover {
    transform: rotate(180deg);
}

.active-icon {
    background-color: white;
    box-shadow: 0px 2px 5px rgb(190, 190, 190);
}

/*/ News - Section /*/

.news-section {
    width: 100vw;
    height: auto;
}

.news-title {
    width: 100%;
    height: auto;
    font-size: 3rem;
    color: #10375c;
    margin-left: 7rem;
    padding: 2rem 0rem;
}

.news-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.news-card {
    width: 350px;
    height: 320px;
    margin: 1rem;
    position: relative;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px whitesmoke;
}

.news-card-title {
    font-size: 2.5rem;
    margin: 1rem;
}

.news-card-desc {
    margin: 1rem;
}

.news-reporter {
    position: relative;
    top: 1.15rem;
    height: 6.5rem;
    width: 100%;
}

.reporter-img {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.reporter-name {
    position: absolute;
    left: 6rem;
    bottom: 3rem;
}

.reporter-job {
    position: absolute;
    left: 6rem;
    bottom: 1.8rem;
}

.news-card-header {
    font-size: 1.5rem;
    margin: 1rem;
}

.news-card-author {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

/*/ Sign Up - Section /*/

.sign-up-section {
    width: 100vw;
    height: auto;
    background-color: #10375c;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-text-content {
    width: auto;
    height: auto;
    margin-left: 7rem;
    margin-top: 5rem;
}

.section-intro {
    color: white;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.sign-title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.sign-desc {
    color: white;
}

.sign-cta {
    padding: 1rem 3.5rem;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    position: relative;
    top: 4rem;
}

.sign-image {
    width: auto;
    height: 500px;
}

.sign-image > img {
    position: absolute;
    bottom: 0px;
}

/*/ Footer - Section /*/

footer {
    width: 100vw;
    height: auto;
    background-color: #0d2c4a;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.3fr;
    padding: 3rem 0rem;
}

.footer-details {
    margin-left: 5rem;
}

.footer-logo {
    color: white;
    font-size: 3rem;
    margin: 0rem 0rem 2rem 0rem;
}

.footer-desc {
    color: white;
    margin: 0rem 0rem 2rem 0rem;
    line-height: 1.4rem;
}

.social-icon {
    margin-inline: 0.5rem;
}

.footer-link-section {
    width: 200px;
    height: 240px;
    position: relative;
}

.footer-links {
    position: relative;
    top: 4rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-title {
    color: white;
    position: absolute;
    font-size: 1.4rem;
    padding: 1rem 0rem;
}

.f-link {
    width: 200px;
    height: auto;
    color: white;
    text-decoration: none;
    margin: 0.4rem 0rem 0.4rem 0rem;
}

/*/ Media query /*/

@media (max-width: 1100px) {

    nav {
        justify-content: space-between;
    }

    .nav-logo {
        margin-left: 2rem;
    }

    .nav-links {
        display: none;
    }

    .nav-btns {
        display: none;
    }

    .nav-hamburger {
        display: block;
        margin-right: 2rem;
    }

    .header-texts {
        justify-content: center;
        align-items: center;
    }

    .header-intro {
        text-align: center;
        margin-left: 0rem;
    }

    .header-title {
        text-align: center;
        margin-bottom: 1rem;
    }

    .header-desc {
        text-align: center;
        margin-bottom: 2rem;
    }

    .header-img {
        right: 0px;
    }

    .header-form {
        margin: 0;
        right: 0;
        top: 4rem;
    }

    .news-title {
        width: 100vw;
        text-align: center;
        margin: 0rem 0rem 2rem 0rem;
        padding: 0px;
    }
}

@media (max-width: 40em) {
 
    body {
        background-color: white;
        overflow-x: hidden;
    }

    .header-texts {
        width: 100%;
        text-align: center;
        padding-inline: 2rem;
        margin: 0rem;
    }

    .header-form {
        width: 310px;
    }

    .form-title {
        font-size: 1.8rem;
    }

    .header-form-input {
        width: 250px;
    }

    .header-form-btn {
        padding: 1rem 4.6rem;
    }

    .section-title {
        padding-bottom: 2rem;
        font-size: 3rem;
    }

    .section-texts {
        flex-direction: column;
        padding-inline: 1rem;
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    .section-texts > p {
        margin-bottom: 1.5rem;
        padding-inline: 1rem;
        text-align: center;
    }

    .next-slide, .prev-slide {
        margin-bottom: 4rem;
    }

    .icon-container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .icons {
        margin-inline: auto;
    }

    .benefits-text-content {
        height: auto;
        width: 100vw;
        padding-inline: 1rem;
    }

    .benefits-text-title {
        font-size: 2.5rem;
    }

    .facilities-heading {
        margin: 0rem;
        padding-inline: 2rem;
    }

    .fac-text-intro {
        margin: 0rem;
        text-align: center;
        padding-inline: 2rem;
    }

    .fac-title {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 1rem;
    }

    .fac-image-container {
        width: 100vw;
        height: auto;
        overflow-x: hidden;
    }

    .gallery-heading {
        top: 0rem;
        right: 0rem;
        text-align: center;
        background-color: white;
        padding-bottom: 2rem;
        width: 100vw;
    }

    .gallery-images {
        width: 100vw;
        height: auto;
        justify-content: center;
    }

    .gallery-img-2 {
        margin: 1rem;
    }

    .gallery-img-3 {
        margin: 1rem;
    }

    .promo-text-content {
        margin: 0px;
        text-align: center;
        padding: 2rem 2rem 0rem 2rem;
    }

    .promo-brand-container {
        justify-content: center;
        flex-direction: column;
    }

    .promo-brand {
        margin: 1rem 0rem 1rem 0rem;
    }

    .review-text-content {
        text-align: center;
    }

    .review-intro {
        margin: 0px;
        padding-top: 2rem;
    }

    .review-title {
        margin: 0px;
    }

    .sign-text-content {
        width: 100vw;
        text-align: center;
        height: auto;
        margin: 1rem;
        padding-bottom: 5rem;
    }

    .sign-image {
        display: none;
    }

    .sign-title {
        width: 100%;
        text-align: center;
        padding-bottom: 0.5rem;
    }

    .sign-image {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 

    .footer-details {
        margin-left: 0rem;
        text-align: center;
    }

    .link-title {
        text-align: center;
        width: 100%;
    }

    .footer-links {
        text-align: center;
    }


}